* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 1000px;
}

textarea {
    resize: none;
    width: 100%;
    vertical-align: middle;
}

td {
    vertical-align: top;
}

.single-line {
    textarea {
        height: 100%;
    }

    td {
        vertical-align: middle;
    }
}

details summary * {
    display: inline;
    cursor: pointer;
}
